In [4]:
%matplotlib inline
import pylab as plt
plt.style.use('fivethirtyeight')

import pandas as pd

[link to the repo](https://github.com/Codecademy/datasets/tree/master/streeteasy)

In [10]:
se = pd.read_csv('https://raw.githubusercontent.com/Codecademy/datasets/master/streeteasy/streeteasy.csv')

In [11]:
se.head(5)

,rental_id,building_id,rent,bedrooms,bathrooms,size_sqft,min_to_subway,floor,building_age_yrs,no_fee,has_roofdeck,has_washer_dryer,has_doorman,has_elevator,has_dishwasher,has_patio,has_gym,neighborhood,submarket,borough
0,1545,44518357,2550,0.0,1,480,9,2.0,17,1,1,0,0,1,1,0,1,Upper East Side,All Upper East Side,Manhattan
1,2472,94441623,11500,2.0,2,2000,4,1.0,96,0,0,0,0,0,0,0,0,Greenwich Village,All Downtown,Manhattan
2,10234,87632265,3000,3.0,1,1000,4,1.0,106,0,0,0,0,0,0,0,0,Astoria,Northwest Queens,Queens
3,2919,76909719,4500,1.0,1,916,2,51.0,29,0,1,0,1,1,1,0,0,Midtown,All Midtown,Manhattan
4,2790,92953520,4795,1.0,1,975,3,8.0,31,0,0,0,1,1,1,0,1,Greenwich Village,All Downtown,Manhattan

In [12]:
se.shape

(5000, 20)

# 1. постройте гистограммы цен аренды для каждого `borough`. 
Напишите 1-3 пункта выводов

# 2. Можно ли сказать что Бруклин и Манхеттан принадлежат одной генеральной совокупности по ценам?
А по распределению комнат, туалетов, площади?

# 3. Постройте матрицу корелляций для Квинс. Чем она отличается об Манхеттена
Напишите 2-5 пункта выводов

# 4. Существует ли значительная корелляция между годом постройки здания и площадью квартиры, этажом, в Квинс?

# 5. Существует ли статистически значимая корелляция между ценой и `time_to_subway` на Манхеттене?
а в Квинс?

# 5. Сгруппируйте и нормализуйте (переведите в %) данные по районам (neighborhood). 

Существует ли значимая линейная зависимость между % аренды с лифтом в здании и % patio (двор)