In [1]:
%matplotlib inline
import pylab as plt
import pandas as pd

In [2]:
import seaborn as sns

In [3]:
import sqlite3
conn = sqlite3.connect("../data/pubg/pubg_sample.db")

In [4]:
deaths = pd.read_sql('SELECT * FROM deaths', conn)
aggregats = pd.read_sql('SELECT * FROM aggregates', conn)

In [5]:
deaths.head(4)

,index,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,0,UMP9,bigjj321,5.0,332478.2,533202.6,ERANGEL,2U4GBNA0YmmYVKQqfjTRvzroK1jWy0P_Ekt9jDJjdzJ8_g...,747,unbertakerP,3.0,330715.8,532682.2
1,1,Bluezone,None,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnpTzelHSxoLknOT8Wco_qaNyOFz53xi7X7Em...,1487,Your-Old-Iron,82.0,0.0,0.0
2,2,M16A4,StolenV91,24.0,520532.2,467115.6,ERANGEL,2U4GBNA0YmlVfjiMYDoLjs98iK0X1fFCQtmxh9XIAXWJ4l...,504,sasadezx,33.0,520822.9,467389.5
3,3,M416,LHYnana,11.0,467785.8,318166.1,ERANGEL,2U4GBNA0YmlTGucmurdMK2LklO0uiEBpLbx7EUw7n-emtn...,964,pokkerguy,NaN,468878.0,318632.4

In [6]:
aggregats.head(4)

,index,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,0,2017-11-22T13:46:57+0000,89,2U4GBNA0YmkdFgFsMGcdVo99KIBVuwJxruGNqJQ2BzOGsM...,tpp,1,0,0,0.00000,429.593048,41,0,zwg136,283.304,100026,70
1,1,2017-12-21T09:45:45+0000,27,2U4GBNA0YmmA2pEK3A1VqTo7j_ghu_sQtuj275Lyf_sPuk...,tpp,4,0,0,0.00000,1845.780520,0,0,Bronze2g,883.392,11,13
2,2,2017-12-02T20:14:22+0000,50,2U4GBNA0YmkyGvVnE3aSCxZ8W74OQGL2lAsoqpF8YY2Cbw...,tpp,2,0,0,5835.63574,2933.343750,132,0,I-think_ok,1698.422,20,5
3,3,2017-11-13T09:47:46+0000,49,2U4GBNA0YmndALs89crpkL2GmrIDVlRqYN8s4ObZ5x9mRB...,tpp,2,0,0,0.00000,20.143822,0,0,yishengpiaobo,103.771,3,42

In [8]:
pd.to_datetime(aggregats['date']).describe()

count                       1000000
unique                       148121
top       2017-12-30 08:16:49+00:00
freq                             29
first     2017-10-20 08:01:47+00:00
last      2018-01-10 11:56:05+00:00
Name: date, dtype: object



A. Deaths
- какие фичи из уже готовых могут быть полезны для предсказания?
- насколько "наивное" количество убийств пользователем кореллирует с его местом на момент последнего убийства?
- какое оружие убило наибольшее количество людей? если заменить тип оружия на его ранк убийственности или % от убийств, насколько оно будет кореллировать с результатом?

B. Aggregates
- какие фичи из уже готовых могут быть полезны для предсказания?
- как аггрегировать поведение / свойства игроков в команде?
- улучшается ли результат игроков со временем? (может быть для этого нужно будет использовать полный датасет)

C. Какие направления для "исследования" есть? Какие вопросы нам может задать игрок/команда?
- Как мы можем померять эффективность оружия? В чем могут быть нюансы имеющихся данных?
- Как мы можем померять командную работу?
- Какая должна быть (как измерить) общую стратегия игры?
- Что можно вытянуть из карт? Есть ли особенности тактики/етц на конкретных картах?
- Какие еще данные можно подтянуть? Что они могут нам дать?

## Презентация