In [19]:
import pandas as pd

In [20]:
import sqlite3
conn = sqlite3.connect("../data/pubg/pubg_sample.db")

# Deaths

In [21]:
deaths = pd.read_csv('../data/pubg/deaths/kill_match_stats_final_0.csv')

In [22]:
deaths.shape

(13426348, 12)

In [23]:
rs=2019

In [24]:
sample = pd.concat([df.sample(200_000, random_state=rs) for _, df in deaths.groupby('map')], sort=False)

In [25]:
sample.reset_index(drop=True, inplace=True)

In [26]:
sample.to_sql('deaths', conn)

# Aggregates

In [27]:
aggregates = pd.read_csv('../data/pubg/aggregate/agg_match_stats_0.csv')

In [28]:
a = aggregates.sample(1_000_000, random_state=rs)

In [29]:
a.reset_index(drop=True, inplace=True)

In [31]:
a.to_sql('aggregates', conn)

In [32]:
conn.close()

## Check

In [33]:
con2 = sqlite3.connect("../data/pubg/pubg_sample.db")

In [34]:
df = pd.read_sql('SELECT * FROM aggregates LIMIT 10;', con2)

In [35]:
df

,index,date,game_size,match_id,match_mode,party_size,player_assists,player_dbno,player_dist_ride,player_dist_walk,player_dmg,player_kills,player_name,player_survive_time,team_id,team_placement
0,0,2017-11-22T13:46:57+0000,89,2U4GBNA0YmkdFgFsMGcdVo99KIBVuwJxruGNqJQ2BzOGsM...,tpp,1,0,0,0.00000,429.593048,41,0,zwg136,283.304,100026,70
1,1,2017-12-21T09:45:45+0000,27,2U4GBNA0YmmA2pEK3A1VqTo7j_ghu_sQtuj275Lyf_sPuk...,tpp,4,0,0,0.00000,1845.780520,0,0,Bronze2g,883.392,11,13
2,2,2017-12-02T20:14:22+0000,50,2U4GBNA0YmkyGvVnE3aSCxZ8W74OQGL2lAsoqpF8YY2Cbw...,tpp,2,0,0,5835.63574,2933.343750,132,0,I-think_ok,1698.422,20,5
3,3,2017-11-13T09:47:46+0000,49,2U4GBNA0YmndALs89crpkL2GmrIDVlRqYN8s4ObZ5x9mRB...,tpp,2,0,0,0.00000,20.143822,0,0,yishengpiaobo,103.771,3,42
4,4,2017-11-23T16:48:37+0000,27,2U4GBNA0YmkCpY7hPVi8Zw3V-OTqEpRa9g1jQ0k3_kPLff...,tpp,4,0,2,4272.06800,1787.829350,436,3,Daniel_su,1791.252,12,3
5,5,2018-01-03T00:39:43+0000,98,2U4GBNA0YmlNS9OkdqjPheI9gqlAmLc3AaoQ7L6hkXCadd...,tpp,1,0,0,0.00000,399.417267,0,0,Snaffle,392.255,100043,55
6,6,2017-10-25T02:50:33+0000,27,2U4GBNA0YmkU5tw01Kfg71ujNJXMq89oT5DTMyArzg0INn...,tpp,4,0,0,0.00000,0.000000,0,0,SUPEI_MAN,380.798,9,10
7,7,2017-12-01T20:46:44+0000,48,2U4GBNA0YmnU2IBuPSnw3hYZhaxEYtMPaSM5Uv0yfJpM7t...,tpp,2,1,1,1724.95386,3544.101560,232,2,ZCgregory,1856.709,15,4
8,8,2017-12-29T04:32:51+0000,47,2U4GBNA0Ymk5jsoc8bth8gv4qbE8vkMlaKRQIWTkfpiFfE...,tpp,2,0,1,0.00000,2877.846680,248,1,KoalaTheKoala,1166.898,46,8
9,9,2017-11-20T17:18:03+0000,27,2U4GBNA0YmlUnkkUo1rrszBPLtpCOYSP7-Au_j2YwXytWv...,tpp,4,0,0,2467.86353,1942.460330,0,0,SilasYin,1190.581,3,12