In [3]:
import pandas as pd

In [1]:
import sqlite3
conn = sqlite3.connect("../data/pubg/pubg_sample.db")

# Deaths

In [4]:
deaths = pd.read_csv('../data/pubg/deaths/kill_match_stats_final_0.csv')

In [5]:
deaths.shape

(13426348, 12)

In [6]:
rs=2019

In [7]:
sample = pd.concat([df.sample(200_000, random_state=rs) for _, df in deaths.groupby('map')], sort=False)

In [8]:
sample.reset_index(drop=True, inplace=True)

In [9]:
sample.to_sql('deaths', conn)

# Aggregates

In [10]:
aggregates = pd.read_csv('../data/pubg/aggregate/agg_match_stats_0.csv')

In [11]:
a = aggregates.sample(1_000_000, random_state=rs)

In [12]:
a.reset_index(drop=True, inplace=True)

In [13]:
sample.to_sql('aggregates', conn)

In [14]:
conn.close()

## Check

In [15]:
con2 = sqlite3.connect("../data/pubg/pubg_sample.db")

In [16]:
df = pd.read_sql('SELECT * FROM aggregates LIMIT 10;', con2)

In [17]:
df

,index,killed_by,killer_name,killer_placement,killer_position_x,killer_position_y,map,match_id,time,victim_name,victim_placement,victim_position_x,victim_position_y
0,0,UMP9,bigjj321,5.0,332478.2,533202.6,ERANGEL,2U4GBNA0YmmYVKQqfjTRvzroK1jWy0P_Ekt9jDJjdzJ8_g...,747,unbertakerP,3.0,330715.8,532682.2
1,1,Bluezone,None,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmnpTzelHSxoLknOT8Wco_qaNyOFz53xi7X7Em...,1487,Your-Old-Iron,82.0,0.0,0.0
2,2,M16A4,StolenV91,24.0,520532.2,467115.6,ERANGEL,2U4GBNA0YmlVfjiMYDoLjs98iK0X1fFCQtmxh9XIAXWJ4l...,504,sasadezx,33.0,520822.9,467389.5
3,3,M416,LHYnana,11.0,467785.8,318166.1,ERANGEL,2U4GBNA0YmlTGucmurdMK2LklO0uiEBpLbx7EUw7n-emtn...,964,pokkerguy,NaN,468878.0,318632.4
4,4,Down and Out,Hypes,11.0,224879.9,325055.3,ERANGEL,2U4GBNA0Ymkrs-C2kSP-qk99tdGpXA67flljOW0l8DLUTi...,1094,Krave34,15.0,216709.4,331693.7
5,5,DP-28,KenVoCam,3.0,627023.3,602767.9,ERANGEL,2U4GBNA0YmkwxgEOcFYPcauqi5oQdu1qcUZc5omNikoOv-...,267,zhuadap2017,26.0,623870.8,601579.4
6,6,P1911,nanjingdadage,6.0,217782.2,284560.8,ERANGEL,2U4GBNA0Ymk2lEJmq1piEne9Q7dAfJnyeh56xLTFMwQuTa...,218,ItemDelivery,25.0,218473.5,283203.3
7,7,Bluezone,None,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmlzbhEQLKZtbBdueSY2PUaFtWjRvmG_wqE865...,942,K_R_FTY,35.0,460794.0,428297.9
8,8,AKM,china-zhengzou,1.0,218230.9,203133.9,ERANGEL,2U4GBNA0YmlJFvQeB7FIvjp5tKp7q5TBRAI4fnE5kAOVlY...,1362,BeiwoZZZZF,6.0,219250.1,200326.0
9,9,Bluezone,None,NaN,NaN,NaN,ERANGEL,2U4GBNA0YmkOPy_EtgTTtQfUGjgpNNxiJrSxN-k8rywcEc...,1496,Organic_Napalm,16.0,342262.8,433625.4