# Переменные (variables)

In [2]:
pi = 3.14159265359
name = 'Philipp'
age = 31
sky_is_blue = True

In [3]:
print(pi)

3.14159265359

In [4]:
print(another_name)

NameError: name 'another_name' is not defined

# Variable naming

1. No keywords and operator symbols (class, def, for, ..., +, -, @, etc)
2. No whitespace
2. Cannot start with number

In [1]:
counter = 0
pricey_car = 'Mercedes'
income = 120_000

In [2]:
class = 'Mercedes'

SyntaxError: invalid syntax (<ipython-input-2-2daee69c2fcb>, line 1)

In [3]:
pricey@@car

SyntaxError: invalid syntax (<ipython-input-3-ffd8cc768d68>, line 1)

In [4]:
1y_income = 120_000

SyntaxError: invalid syntax (<ipython-input-4-2b923f9c6b91>, line 1)

# Data types

In [10]:
print(type(pi), type(name), type(sky_is_blue))

<class 'float'> <class 'str'> <class 'bool'>

## Operators

In [11]:
A = 6
B = 5

In [12]:
A + B

11

In [13]:
A - B

1

In [14]:
A / B

1.2

In [15]:
A * B

30

In [3]:
x = int()

In [4]:
x

0

In [16]:
2**3

8

In [9]:
'4'.zfill(10)

'0000000004'

In [17]:
9 // 3

3

In [18]:
10 // 3

3

In [61]:
10 / 0

ZeroDivisionError: division by zero

## Strings

In [25]:
single_quote = 'Hello World'
double_qoute = "Hello World"

multiline = '''
Hello
World!
'''

In [33]:
quotes_in_string = "That is Sam's tavern"
double_qoutes_in_string = 'This is a so-called "speakeasy"'

### Operators

In [20]:
'Hello ' + 'World'

'Hello World'

In [23]:
'Hello' * 3

'HelloHelloHello'

### Methods

In [34]:
'Hello World'.upper()

'HELLO WORLD'

In [35]:
'Hello World'.lower()

'hello world'

In [36]:
'hello world'.title()

'Hello World'

In [37]:
'Hello world'.replace('world', 'planet')

'Hello planet'

### Formatting

In [39]:
'hello'.rjust(10, ' ')

'     hello'

In [40]:
'hello'.ljust(10, ' ')

'hello     '

In [41]:
'999'.zfill(5)

'00999'

In [42]:
'Hello {adj} world!'.format(adj='beautiful')

'Hello beautiful world!'

In [44]:
adj = 'beautiful'
f'Hello {adj} world!'

'Hello beautiful world!'

In [46]:
pct = .345
value = 45500
f'Price grew by {pct:.1%} or {value:,}'

'Price grew by 34.5% or 45,500'

[Formatting mini-language link](https://docs.python.org/3/library/string.html#formatspec)

## String as iterable

In [47]:
"Hello World"[0]

'H'

In [48]:
"Hello World"[0:5]

'Hello'

In [50]:
"World" in "Hello World!"

True

In [51]:
"Planet" in "Hello World!"

False

# Boolean

In [52]:
True * False

0

In [53]:
True + False

1

In [54]:
6 > 5

True

In [55]:
5 == 5

True

In [56]:
True | False

True

In [1]:
True or False

True

In [57]:
True & False

False

In [2]:
True and False

False

In [58]:
True ^ True

False

# Order

In [59]:
(2 + 10) / 2

6.0

In [60]:
10 / (1 + 1)

5.0

# Conversion

In [66]:
float("2.5")

2.5

In [67]:
int("45")

45

In [68]:
int(4.521)

4

In [69]:
float(5)

5.0

In [70]:
int(True)

1

In [71]:
float(False)

0.0

In [72]:
bool(0)

False

In [73]:
bool('Hello')

True

In [74]:
bool(115.5)

True

In [5]:
str(True)

'True'

In [75]:
int("2.5")

ValueError: invalid literal for int() with base 10: '2.5'

In [76]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'